Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetMod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="A" type="xs:int" />
        <xs:element minOccurs="0" name="B" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>